*{ 
    margin: 0;
}
#root{
    background-color: whitesmoke;
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 32px;
}
#root div.bar{
    background-color: rgb(34, 34, 34);
    color: rgb(241, 241, 241);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    padding: 5px;
}
#root div.bar#header{
    padding: 5px;
}
#root div.bar>p.title{
    font-size: 48px;
    color: white;
}
#root div.bar>p.subtltle{
    font-size: 32px;
    color: rgb(197, 197, 197);
}
#root div.bar>p.annotation{
    font-size: 16px;
    color: rgb(127, 127, 127);
}
#root div.block{
    margin-top: 4px;
    margin-left: 4px;
    border-top: 8px solid rgb(108, 108, 108);
    border-left: 8px solid rgb(108, 108, 108);
    width: min-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    font-size: 24px;
}
#root div.block p{
    width: max-content;
    margin: 1px;
}
#root div.block h1 {
    width: max-content;
    margin: 1px;
}
#root div.block h2 {
    width: max-content;
    margin: 1px;
}
#root div.block h3 {
    width: max-content;
    margin: 1px;
}
#root div.block h4 {
    width: max-content;
    margin: 1px;
}
#root div.block h5 {
    width: max-content;
    margin: 1px;
}
#root div.block h6 {
    width: max-content;
    margin: 1px;
}
#root div.block a {
    width: max-content;
    margin: 1px;
}
#root div.block div.code {
    background-color: rgb(36, 36, 36);
    margin: 4px;
    padding: 4px;
    font-family: '../font/JetBrainsMono-Italic', Consolas, 'Courier New', monospace;
    color: white;
    width: max-content;
}
#root div.searcher{
    margin: 2px;
    border: 2px solid rgb(79, 79, 79);
    padding: 4px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: max-content;
}
#root div.searcher>p {
    font-size: 6
}
